.production-card-container {
    font-family: 'MuseoSansRounded-300';
    display: flex;
    flex-direction: column;
    width: 30%;
    font-size: 20px;
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    margin-bottom: 48px;
}

.production-card-image {
    width: 100%;
    border: 2px solid black;
    position: relative;
    margin-top: 12px;
}

.production-card-container:hover {
    transform: scale(1.02);
}