.production-card-container {
    font-family: 'Athena';
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.production-card-image {
    width: 100%;
    border: 2px solid black;
}