.form {
    font-family: 'MuseoSansRounded-300';
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.form-group-1 {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.schedule-button {
    font-family: 'MuseoSansRounded-300';
    padding: 16px 28px 16px 28px;
    width: auto;
    border: 1px solid black;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 16px;
    border-radius: 12px;
    font-weight: bold;
    margin-top: 16px;
    cursor: pointer;
}

.schedule-button:hover {
    background-color: white;
    color: black;
}

.date-picker input {
    border: 1px solid gray;
    border-radius: 1px;
    padding: 2px 1.5% 2px 1.5%;
    height: 28px;
    font-family: 'MuseoSansRounded-300';
    align-items: center;
    width: 97%;
}

.date-picker {
    margin-bottom: 24px;
}

.date-label {
    margin-bottom: 8px;
}

@media all and (max-width: 1024px) {
    .form-group-1 {
        width: 90%;
    }
}