.page-title-container {
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
    background-color: #FFF;
    height: 72px;
    align-items: center;
    font-size: 28px;
    font-family: 'Athena';
}