.header {
    width: 100%;
    margin-bottom: 32px;
    font-family: 'MuseoSansRounded-300';
    font-size: 18px;
}

.header a {
    color: inherit;
    text-decoration: none;
    margin-left: 5%;
}

.header-line-1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header-line-2 {
    display: flex;
    justify-content: flex-end;
}


.header-line-1-nav {
    display: flex;
    align-items: center;
    width: 60%;
}

.header-name-principal {
    font-family: 'Athena';
    font-size: 60px;
    margin-right: 5%;
}

.header-name-secondary {
    font-family: 'Bellaboo';
    font-size: 40px;
    margin-right: 5%;
}

.nav-option:hover {
    font-weight: bold;
}