.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.input-container label {
    margin-bottom: 8px;
}

.input-container input {
    padding: 2px 4px 2px 4px;
    height: 28px;
    font-family: 'MuseoSansRounded-300';
}

.input {
    border: 1px solid gray;
    border-radius: 1px;
    height: 24px;
}

.input:focus {
    outline: none;
    border: 1px solid black;
}