.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'MuseoSansRounded-300';
}

.productions-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.welcome-container {
    width: 100%;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
}

.welcome-image {
    width: 40%;
}

.welcome-text {
    width: 40%;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.welcome-text h3 {
    font-size: 36px;
}

.welcome-text p {
    font-size: 24px;
}

.buttons-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

@media all and (max-width: 1024px) {
    .welcome-text h3 {
        font-size: 32px;
    }

    .welcome-text p {
        font-size: 20px;
    }

    .buttons-container {
        flex-direction: column;
    }

    .buttons-container button {
        font-size: 16px;
        margin-top: 36px;
    }
}

@media all and (max-width: 868px) {
    .welcome-container {
        flex-direction: column;
        align-items: center;
        margin-bottom: 60px;
    }

    .welcome-image {
        width: 100%;
    }

    .welcome-text {
        margin-top: 32px;
        width: 95%;
    }

    .welcome-text p {
        margin: 0px;
        font-size: 18px;
    }

    .welcome-text h3 {
        margin-top: 0px;
    }

    .productions-container {
        flex-direction: column;
        align-items: center;
    }

    .schedule-button {
        margin-top: 32px;
    }
}