@font-face {
    font-family: 'Athena';
    src: url('../public/fonts/Athena-Regular\ \(PERSONAL\ USE\ ONLY\).ttf') format('truetype');
}

@font-face {
    font-family: 'Bellaboo';
    src: url('../public/fonts/bellaboo-1.ttf') format('truetype');
}

@font-face {
    font-family: 'MuseoSansRounded-300';
    src: url('/fonts/MuseoSansRounded-300.ttf') format('truetype');
}

body {
    background-color: #fff;
}