@font-face {
    font-family: 'Athena';
    src: url('/fonts/Athena-Regular\ \(PERSONAL\ USE\ ONLY\).ttf') format('truetype');
}

@font-face {
    font-family: 'Bellaboo';
    src: url('/fonts/bellaboo-1.ttf') format('truetype');
}